   {% for bac in clubs %}
    <tr>
					<td>{{ bac.id }}</td>
					<td>{{ bac.email }}</td>
					<td>{{ bac.nom }}</td>
                    <td>{{ bac.prenom }}</td>
                    <td>{{ bac.Adresse }}</td>
    </tr>

      {% endfor %}
      
