   {% for bac in clubs %}
    <tr>
    <td> {{ bac.id }}</td>
     <td> {{ bac.name}} </td>
       <td>{{  bac.location}}</td>
        <td>{{  bac.terain}} </td>
        <td> 
          <a  href="{{ path('app_avis_new', {'id': bac.id}) }}">Ajouter un Avis</a>
                    <div></div>
                    <a href="{{ path('app_avis_index', {'id': bac.id}) }}">Voir Les Avis !</a>

              </td>               
    </tr>

      {% endfor %}
      
