<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Apr 2022 11:27:08 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Dashboard | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" /> 
    {% block css %}
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{asset('back-office/images/favicon.ico')}}">
    <!-- jsvectormap css -->
    <link href="{{asset('back-office/libs/jsvectormap/css/jsvectormap.min.css')}}" rel="stylesheet" type="text/css" />
    <!--Swiper slider css-->
    <link href="{{asset('back-office/libs/swiper/swiper-bundle.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Layout config Js -->
    <script src="{{asset('back-office/js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{asset('back-office/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{asset('back-office/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{asset('back-office/css/app.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{asset('back-office/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
     <link href="{{asset('back-office/css/style.css')}}" rel="stylesheet" type="text/css" />
    {% endblock %}


</head>

  <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{asset('back-office/images/logo-light.png')}}" alt="" height="70">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                       
                        <li class="nav-item">
                           <a class="nav-link menu-link" href="widgets.html">
                              <i class="ri-honour-line"></i> <span data-key="t-widgets">Dashbord</span>
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="widgets.html">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link"  href={{path('app_tournois_index')}}>
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Tournois</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link menu-link" href={{path('app_participant_index')}}>
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Participants</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="widgets.html">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Produits</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link menu-link" href="widgets.html">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Catégories</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link menu-link" href="/club">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Clubs</span>
                            </a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link menu-link" href="/terrain">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Terrains</span>
                            </a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link menu-link" href="widgets.html">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Gérer Réclamation</span>
                            </a>
                        </li>
                         </li>
                        <li class="nav-item">
                         <td><a href="/home" type="button" class="btn btn-outline-success"> Retour a la page d'acceuil </a></td>
                         </li>
                       

                       

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
<body>


  {% block body %}
<h1 class =" affich">Clubs Lisst</h1>

<a class ="affich"href="{{ path('generate_pdf') }}" class="btn btn-primary">Générer le PDF</a>

    <table class="table affich">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Terrain</th>
                

     
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.location }}</td>
                <td>{{ club.terain }}</td>

                

                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">show</a>
                    
                    <div></div>
                    <a href="{{ path('app_avis_iindex', {'id': club.id}) }}">Voir Les Avis !</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class =" affich" href="{{ path('app_club_new') }}">Create new</a>
{% endblock %}







    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->


    <!-- JAVASCRIPT -->

    {% block js %}
    <!-- JAVASCRIPT -->
    <script src="{{asset('back-office/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('back-office/libs/simplebar/simplebar.min.js')}}"></script>
    <script src="{{asset('back-office/libs/node-waves/waves.min.js')}}"></script>
    <script src="{{asset('back-office/libs/feather-icons/feather.min.js')}}"></script>
    <script src="{{asset('back-office/js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
    <script src="{{asset('back-office/js/plugins.js')}}"></script>
    <!-- apexcharts -->
    <script src="{{asset('back-office/libs/apexcharts/apexcharts.min.js')}}"></script>
    <!-- Vector map-->
    <script src="{{asset('back-office/libs/jsvectormap/js/jsvectormap.min.js')}}"></script>
    <script src="{{asset('back-office/libs/jsvectormap/maps/world-merc.js')}}"></script>
    <!--Swiper slider js-->
    <script src="{{asset('back-office/libs/swiper/swiper-bundle.min.js')}}"></script>
    <!-- Dashboard init -->
    <script src="{{asset('back-office/js/pages/dashboard-ecommerce.init.js')}}"></script>
    <!-- App js -->
    <script src="{{asset('back-office/js/app.js')}}"></script>
    {% endblock %}

</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Apr 2022 11:27:17 GMT -->
</html>