{% extends 'base.html.twig' %}

{% block content %}
    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Achat</h3>
                        <div>

                        </div>
                    </div>

                    {# {% for lc in lignecommandes %} #}
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">

                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">bla bla</p>
                                        {# <p class="lead fw-normal mb-2">{{ lc.idProduit.nomProduit }}</p> #}

                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                        <h5 class="mb-0">x 5</h5>
                                        {# <h5 class="mb-0">x {{ lc.quantite }}</h5> #}
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">10</h5>
                                        {# <h5 class="mb-0">{{ lc.idProduit.nbPts }}</h5> #}
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        {# <a href="{{ path('app_client_lignecommande_delete', {'idLignecommande': lc.idLignecommande}) }}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {# {% else %}
                        <br>
                        <strong>Panier Vide</strong>
                        <br>
                    {% endfor %} #}



                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">



                                <table class="table">
                                    <tr>
                                        <td width="20%"></td>
                                        <td width="25%">
                                            <h2 class="lead fw-normal mb-2"><strong>total des points: </strong></h2>
                                        </td>
                                        <td>
                                            <h5 class="mb-0">x 2</h5>
                                            {# <h5 class="mb-0">x {{ total_points }}</h5> #}
                                        </td>

                                    </tr>
                                </table>

                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <a href="{{ path('app_client_proceed_commande', {'idcommande': idCommande}) }}" class="btn btn-warning btn-block btn-lg">Passer Commande</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}